*{
    box-sizing: border-box;
}

header,footer{
    background-color: gray;
    text-align: center;
    height: 100px;
    /* width: 100%; */
    border: 1px solid black;
    clear: both;
}

.top{
    float: left;
    text-align: center;
    height: 300px;
    width: 33.3333%;
    background-color: gray;
    border: 1px solid black;
}

.bottom{
    float: left;
    text-align: center;
    height: 300px;
    width: 50%;
    background-color: gray;
    border: 1px solid black;
}

    
@media (min-width:301px) and (max-width: 500px) {
    header,footer,.top,.bottom{
        background: blue;
    }
    .top,.bottom{
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    header,footer{
        background: red;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .top{
        background: green;
        width: 50%;
    }
}
    
