/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

nav{
  background: white;
  height: 56px;
  color: #2F66F3;
  text-align: center;
  border: 1px solid #C1C1C1;
}

.nav{
  float: left;
  width: 33.33%;
  background: white;
}

.left, .right{
  padding-top: 13px;
  font-size: 17px;
}

nav > img{
  height: 54px;
  padding: 0 138px ;

}


.left > form input{
  width: 155px;
  height: 32px;
  border: 0px;
  border-radius: 7%;
  background: #F0F1F2;
}

::placeholder{
  color: #2F66F3;
}

.left{
  padding-left: 200px;
}

 .left * {
  float: left;
  width: 50%;
  text-decoration: none;
  font-weight: 700;
 }

 .right{
  padding-right: 200px;
 }

.right * {
  float: left;
  width: 33.333%;
  text-decoration: none;
  font-weight: 700;
}

.leftt , .rightt{
  float: left;
  width: 50%;
}

.leftt > img{
  height: 595px;
  margin-left: 195px ;
}

.rightt{
  padding: 133px 0 0 0;
}

.rightt h1{
  font-size: 45px;
  padding-right: 347px;
}

.rightt p{
  font-size: 18px;
  padding: 14px 291px 26px 0;
}

section > button{
  border: 0px;
  background: #2F66F3;
  border-radius: 6px;
  margin-right: 10px;
  color: white;
  height: 41px;
  width: 91px;
  cursor: pointer;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
