/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 62.5%;
  background-color: rgb(245, 249, 252);
  font-family: 'Poppins', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

header > section > h1{
  color: rgb(40, 65, 85);
  font-size: 1.5rem;
}


.hLinks > a{
  text-decoration: none;
  color: rgb(69, 90, 107);
  font-size: 0.8rem;
  margin: 0 2rem;
}

header > section > button{
  background-color: rgb(40, 65, 85);
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1.4rem;
  cursor: pointer;
}

main{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.left {
  margin: 6rem 0 0 10rem;
}

.left > span{
  color: rgb(136, 148, 158);
  font-size: 0.8rem;
  font-weight: 500;
}

.left > h1{
  color: rgb(40, 65, 85);
  font-size: 3rem;
  padding-right: 28%;
  margin-top: 0.6rem;
}

.lSearch > input{
  width: 44%;
  height: 2.5rem;
  background-color: rgb(226, 234, 240);
  /* border: 1px solid rgb(40, 65, 85); */
  border: 0;
  /* border-radius: 0.2rem; */
  padding: 0 1rem;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.lSearch > button{
  background-color: rgb(40, 65, 85);
  color: white;
  font-size: 0.8rem;
  width: 20%;
  height: 2.5rem;
  /* padding: 0.5rem 7.4rem; */
  cursor: pointer;
}

.left > p{
  color: rgb(69, 90, 107);
  font-size: 1rem;
  padding-right: 41%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
