/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
.grey{
  background-color: rgb(245, 249, 252);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

header > section > h1{
  color: rgb(40, 65, 85);
  font-size: 2.5rem;
}


.hLinks > a{
  text-decoration: none;
  color: rgb(69, 90, 107);
  font-size: 1.2rem;
  margin: 0 3.5rem;
}

.h-button > button{
  background-color: rgb(40, 65, 85);
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

main{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.phoneActive{
  display: none;
  background-color: rgb(40, 65, 85);
}

.left {
  margin: 6rem 0 0 10rem;
}

.left > span{
  color: rgb(136, 148, 158);
  font-size: 1.2rem;
  font-weight: 500;
}

.left > h1{
  color: rgb(40, 65, 85);
  font-size: 5rem;
  padding-right: 30%;
  margin-top: 0.6rem;
}

.lSearch > input{
  width: 44%;
  height: 3.5rem;
  background-color: rgb(226, 234, 240);
  /* border: 1px solid rgb(40, 65, 85); */
  border: 0;
  /* border-radius: 0.2rem; */
  padding: 0 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.lSearch > button{
  background-color: rgb(40, 65, 85);
  color: white;
  font-size: 1.2rem;
  width: 18%;
  height: 3.5rem;
  /* padding: 0.5rem 7.4rem; */
  cursor: pointer;
}

.left > p{
  color: rgb(69, 90, 107);
  font-size: 1.4rem;
  padding-right: 41%;
  margin-top: 3rem;
}

.features{
  display: flex;
  justify-content: space-between;
  margin: 4rem 10rem;
}

.features > div{
  width: 22%;
  height: 20rem;;
}

.features > div > h1{
  color: rgb(40, 65, 85);
}

.features > div > p{
  color: rgb(69, 90, 107);
  font-size: 1.2rem;
  padding-right: 10%;
}

.features > div > a{
  text-decoration: none;
  color: rgb(40, 65, 85);
  font-size: 1.2rem;
  font-weight: 600;
}

.moreInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4rem 10rem;
  background-color: white;
}

.moreInfo > h1{
  color: rgb(40, 65, 85);
  font-size: 5rem;
}

.moreInfo > p{
  color: rgb(69, 90, 107);
  font-size: 1.4rem;
  padding-right: 41%;
  margin-top: 1rem;
}

.moreInfo > div{
  background-color: rgb(245, 249, 252);
  width: 100%;
  height: 60rem;;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 2.5rem;
  height: 0.4rem;
  margin: 5px auto;
  -webkit-animation: all 0.3s ease-in-out;
  animation: all 0.3s ease-in-out;
  background-color: rgb(40, 65, 85);
}

@media all and (max-width: 1024px) {
  
  html{
    font-size: 50%;
  }

  .right > img {
    margin-top: 2rem;
    height: 78%;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  
  html{
    font-size: 45.2%;
  }

  .right > img {
    margin-top: 2rem;
    height: 78%;
    width: 100%;
  }
}

@media all and (max-width:426px) {

  html{
    font-size: 40%;
  }

  main{
    flex-direction: column;
  }

  .phoneActive{
    display: block;
  }

  .left{
    margin: 2rem 2rem;
  }

  .left > span{
    margin: 0 0 0 0;
    font-size: 1.6rem;
    margin-left: 1rem;

  }

  .left > h1{
    padding-right: 0;
    margin: 0 1rem;
  }

  .left > p{
    margin: 0 1rem;
  }

  .lSearch > input{
    width: 50%;
    height: 4rem;
    margin: 1rem 0 1rem 1rem;
  }

  .h-button{
    display: none;
  }

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .hLinks{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgb(245, 249, 252);
    text-align: center;
    transition: 0.3s;
  }

  nav-item{
    margin: 16px 0;
  }

  .nav-item.active{
    left: 0;
  }
}